<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Formatting_CommentXmlSplitAllTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Formatting_CommentXmlKeepTagsTogether" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Digging_ShowItemComplexity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentRunDuringCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Collapsing_KeepSoloProjectExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_UsingStatementsToReinsertWhenRemovedExpression"
                serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Cleaning_SkipSortUsingStatementsDuringAutoCleanupOnSave"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_UpdateEndRegionDirectives" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentWrapColumn" serializeAs="String">
                <value>132</value>
            </setting>
            <setting name="Formatting_CommentSkipWrapOnLastWord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_AutoSaveAndCloseIfOpenedByCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_PerformPartialCleanupOnExternal" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="General_SkipUndoTransactionsDuringAutoCleanupOnSave"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_Multithread" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_UseUndoTransactions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_AlphabetizeMembersOfTheSameGroup"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Formatting_CommentXmlSpaceSingleTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_ShowStartPageOnSolutionClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RemoveRegions" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Reorganizing_MemberTypeConstructors" serializeAs="String">
                <value>Constructors||1||Constructors</value>
            </setting>
            <setting name="Reorganizing_MemberTypeMethods" serializeAs="String">
                <value>Methods||4||Methods</value>
            </setting>
            <setting name="Reorganizing_MemberTypeProperties" serializeAs="String">
                <value>Properties||5||Properties</value>
            </setting>
            <setting name="Reorganizing_MemberTypeEnums" serializeAs="String">
                <value>Enums||12||Enums</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDestructors" serializeAs="String">
                <value>Destructors||2||Destructors</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDelegates" serializeAs="String">
                <value>Delegates||7||Delegates</value>
            </setting>
            <setting name="Reorganizing_RegionsRemoveExistingRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_MemberTypeIndexers" serializeAs="String">
                <value>Indexers||3||Indexers</value>
            </setting>
            <setting name="Reorganizing_MemberTypeFields" serializeAs="String">
                <value>Fields||6||Fields</value>
            </setting>
            <setting name="Reorganizing_KeepMembersWithinRegions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_MemberTypeEvents" serializeAs="String">
                <value>Events||8||Events</value>
            </setting>
            <setting name="Reorganizing_MemberTypeInterfaces" serializeAs="String">
                <value>Interfaces||11||Interfaces</value>
            </setting>
            <setting name="Reorganizing_PrimaryOrderByAccessLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Digging_PrimarySortOrder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reorganizing_MemberTypeClasses" serializeAs="String">
                <value>Classes||9||Classes</value>
            </setting>
            <setting name="Reorganizing_MemberTypeStructs" serializeAs="String">
                <value>Structs||10||Structs</value>
            </setting>
            <setting name="Reorganizing_PerformWhenPreprocessorConditionals"
                serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cleaning_SkipRemoveUnusedUsingStatementsDuringAutoCleanupOnSave"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderCSharp" serializeAs="String">
                <value>// =================================================================================================================================
// Copyright (c) RapidField LLC. Licensed under the MIT License. See LICENSE.txt in the project root for license information.
// =================================================================================================================================
</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderXML" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;!--
Copyright (c) RapidField LLC. Licensed under the MIT License. See LICENSE.txt in the project root for license information.
--&gt;</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderJSON" serializeAs="String">
                <value>// =================================================================================================================================
// Copyright (c) RapidField LLC. Licensed under the MIT License. See LICENSE.txt in the project root for license information.
// =================================================================================================================================
</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderJavaScript" serializeAs="String">
                <value>// =================================================================================================================================
// Copyright (c) RapidField LLC. Licensed under the MIT License.
// =================================================================================================================================
</value>
            </setting>
            <setting name="Cleaning_IncludeEverythingElse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_CacheFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_LoadModelsAsynchronously" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_DiagnosticsMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderPowerShell" serializeAs="String">
                <value># =================================================================================================================================
# Copyright (c) RapidField LLC. Licensed under the MIT License. See LICENSE.txt in the project root for license information.
# =================================================================================================================================
</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>